<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Hoto Login</mat-toolbar>
    <form #loginform="ngForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="loginUser()">
     
      <mat-card-subtitle class="red-text">{{msg}}</mat-card-subtitle>
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Username" name="userName" [(ngModel)]="user.userName" required>
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="loginform.form.invalid">Login</button>
    </form>
  </mat-card>
</div>