
  
  h2 {
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .list-container {
    flex-direction: row;
    width: 50%;
    max-width: 50%;
    margin-top: 2em;
    
  
  }
  
  .column-container {
   
    margin: 0 20px 20px 20px;
    display: inline-block;
    vertical-align: top;
    width: 40%;
   
    
  }
  
  
  mat-card {
    margin: 1em;
    cursor: grab;
  }
  
  .list {
    border: RGBA(46, 49, 49, .7) solid 1px;
    border-radius: 2px;
  }
  
  .list-item {
    margin: 10px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  a {
    text-decoration: none;
    color: dodgerblue;
  }
  .mat-card-image{
   
    width: 70px;
    height: 70px;
    float: right;
    margin-right: 5px;
   
  }
  
  
  .header{
 background-color: rgb(250, 220,233);
 color: red;
 font-size: 30px;
 font-weight: 500;
  }

  #leftbox { 
    float:left;  
    } 

  #rightbox{ 
    float:right; 
    width:45%; 
    margin-top: 8em;
    margin-right: 20px;  
  }



  th{
    text-align: center;
  }
  
  table {
    width: 100%;  
}
.heading{
  height: 30px;
}
#one{
  background-color: yellow;
}
#two{
  background-color: rgb(250, 191, 143);
}
.three{
  height: 200px;
}


